<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wake.nlkm.mapper.AuthorMapper">
    <resultMap id="BaseResultMap" type="com.wake.nlkm.entity.Author">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="person_id" jdbcType="VARCHAR" property="personId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="dynasty" jdbcType="VARCHAR" property="dynasty"/>
        <result column="shici_count" jdbcType="INTEGER" property="shiciCount"/>
        <result column="intro" jdbcType="VARCHAR" property="intro"/>
        <result column="allusion" jdbcType="VARCHAR" property="allusion"/>
        <result column="life" jdbcType="VARCHAR" property="life"/>
        <result column="achievement" jdbcType="VARCHAR" property="achievement"/>
        <result column="evaluation" jdbcType="VARCHAR" property="evaluation"/>
        <result column="simple_intro" jdbcType="VARCHAR" property="simpleIntro"/>
        <result column="detail_intro" jdbcType="VARCHAR" property="detailIntro"/>
        <result column="head_image_url" jdbcType="VARCHAR" property="headImageUrl"/>
        <result column="source" jdbcType="TINYINT" property="source"/>
        <result column="check_state" jdbcType="TINYINT" property="checkState"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, person_id, name, dynasty, shici_count, intro, allusion, life, achievement, evaluation, 
    simple_intro, detail_intro, head_image_url, source, check_state, createtime, updatetime
  </sql>

    <select id="selectCount" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(*) from author where `is_delete` = 0
    <if test="name != null and name != ''">
        and `name` = #{name}
    </if>
  </select>

    <select id="selectByBatch" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from author where `is_delete` = 0
        <if test="name != null and name != ''">
            and `name` = #{name}
        </if>
        limit #{offset}, #{limit}
    </select>

    <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from author
        where `name` = #{name} and `is_delete` = 0
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from author
        where id = #{id,jdbcType=INTEGER} and `is_delete` = 0
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from author
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.wake.nlkm.entity.Author" useGeneratedKeys="true" keyProperty="id"
            keyColumn="id">
    insert into author (id, person_id, name, 
      dynasty, shici_count, intro, 
      allusion, life, achievement, 
      evaluation, simple_intro, detail_intro, 
      head_image_url, source, check_state, 
      createtime, updatetime)
    values (#{id,jdbcType=INTEGER}, #{personId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{dynasty,jdbcType=VARCHAR}, #{shiciCount,jdbcType=INTEGER}, #{intro,jdbcType=VARCHAR}, 
      #{allusion,jdbcType=VARCHAR}, #{life,jdbcType=VARCHAR}, #{achievement,jdbcType=VARCHAR}, 
      #{evaluation,jdbcType=VARCHAR}, #{simpleIntro,jdbcType=VARCHAR}, #{detailIntro,jdbcType=VARCHAR}, 
      #{headImageUrl,jdbcType=VARCHAR}, #{source,jdbcType=TINYINT}, #{checkState,jdbcType=TINYINT}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.wake.nlkm.entity.Author" useGeneratedKeys="true" keyColumn="id"
            keyProperty="id">
        insert into author
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="personId != null">
                person_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="dynasty != null">
                dynasty,
            </if>
            <if test="shiciCount != null">
                shici_count,
            </if>
            <if test="intro != null">
                intro,
            </if>
            <if test="allusion != null">
                allusion,
            </if>
            <if test="life != null">
                life,
            </if>
            <if test="achievement != null">
                achievement,
            </if>
            <if test="evaluation != null">
                evaluation,
            </if>
            <if test="simpleIntro != null">
                simple_intro,
            </if>
            <if test="detailIntro != null">
                detail_intro,
            </if>
            <if test="headImageUrl != null">
                head_image_url,
            </if>
            <if test="source != null">
                source,
            </if>
            <if test="checkState != null">
                check_state,
            </if>
            <if test="createtime != null">
                createtime,
            </if>
            <if test="updatetime != null">
                updatetime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="personId != null">
                #{personId,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="dynasty != null">
                #{dynasty,jdbcType=VARCHAR},
            </if>
            <if test="shiciCount != null">
                #{shiciCount,jdbcType=INTEGER},
            </if>
            <if test="intro != null">
                #{intro,jdbcType=VARCHAR},
            </if>
            <if test="allusion != null">
                #{allusion,jdbcType=VARCHAR},
            </if>
            <if test="life != null">
                #{life,jdbcType=VARCHAR},
            </if>
            <if test="achievement != null">
                #{achievement,jdbcType=VARCHAR},
            </if>
            <if test="evaluation != null">
                #{evaluation,jdbcType=VARCHAR},
            </if>
            <if test="simpleIntro != null">
                #{simpleIntro,jdbcType=VARCHAR},
            </if>
            <if test="detailIntro != null">
                #{detailIntro,jdbcType=VARCHAR},
            </if>
            <if test="headImageUrl != null">
                #{headImageUrl,jdbcType=VARCHAR},
            </if>
            <if test="source != null">
                #{source,jdbcType=TINYINT},
            </if>
            <if test="checkState != null">
                #{checkState,jdbcType=TINYINT},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatetime != null">
                #{updatetime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wake.nlkm.entity.Author">
        update author
        <set>
            <if test="personId != null">
                person_id = #{personId,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="dynasty != null">
                dynasty = #{dynasty,jdbcType=VARCHAR},
            </if>
            <if test="shiciCount != null">
                shici_count = #{shiciCount,jdbcType=INTEGER},
            </if>
            <if test="intro != null">
                intro = #{intro,jdbcType=VARCHAR},
            </if>
            <if test="allusion != null">
                allusion = #{allusion,jdbcType=VARCHAR},
            </if>
            <if test="life != null">
                life = #{life,jdbcType=VARCHAR},
            </if>
            <if test="achievement != null">
                achievement = #{achievement,jdbcType=VARCHAR},
            </if>
            <if test="evaluation != null">
                evaluation = #{evaluation,jdbcType=VARCHAR},
            </if>
            <if test="simpleIntro != null">
                simple_intro = #{simpleIntro,jdbcType=VARCHAR},
            </if>
            <if test="detailIntro != null">
                detail_intro = #{detailIntro,jdbcType=VARCHAR},
            </if>
            <if test="headImageUrl != null">
                head_image_url = #{headImageUrl,jdbcType=VARCHAR},
            </if>
            <if test="source != null">
                source = #{source,jdbcType=TINYINT},
            </if>
            <if test="checkState != null">
                check_state = #{checkState,jdbcType=TINYINT},
            </if>
            <if test="createtime != null">
                createtime = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatetime != null">
                updatetime = #{updatetime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wake.nlkm.entity.Author">
    update author
    set person_id = #{personId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      dynasty = #{dynasty,jdbcType=VARCHAR},
      shici_count = #{shiciCount,jdbcType=INTEGER},
      intro = #{intro,jdbcType=VARCHAR},
      allusion = #{allusion,jdbcType=VARCHAR},
      life = #{life,jdbcType=VARCHAR},
      achievement = #{achievement,jdbcType=VARCHAR},
      evaluation = #{evaluation,jdbcType=VARCHAR},
      simple_intro = #{simpleIntro,jdbcType=VARCHAR},
      detail_intro = #{detailIntro,jdbcType=VARCHAR},
      head_image_url = #{headImageUrl,jdbcType=VARCHAR},
      source = #{source,jdbcType=TINYINT},
      check_state = #{checkState,jdbcType=TINYINT},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <update id="updateCheckState" parameterType="java.util.Map">
    update author
    set `check_state` = #{state},
    `updatetime` = #{updatetime}
    where `id` = #{id}
  </update>

    <update id="updateDelete" parameterType="java.util.Map">
    update author
    set `is_delete` = #{state},
    `updatetime` = #{updatetime}
    where `id` = #{id}
  </update>

</mapper>