<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wake.nlkm.mapper.Idiom2TagMapper">
  <resultMap id="BaseResultMap" type="com.wake.nlkm.entity.Idiom2Tag">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="idiom_id" jdbcType="VARCHAR" property="idiomId" />
    <result column="tag_name_id" jdbcType="VARCHAR" property="tagNameId" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, idiom_id, tag_name_id, createtime, updatetime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from idiom2_tag
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from idiom2_tag
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wake.nlkm.entity.Idiom2Tag">
    insert into idiom2_tag (id, idiom_id, tag_name_id, 
      createtime, updatetime)
    values (#{id,jdbcType=INTEGER}, #{idiomId,jdbcType=VARCHAR}, #{tagNameId,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wake.nlkm.entity.Idiom2Tag">
    insert into idiom2_tag
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="idiomId != null">
        idiom_id,
      </if>
      <if test="tagNameId != null">
        tag_name_id,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="idiomId != null">
        #{idiomId,jdbcType=VARCHAR},
      </if>
      <if test="tagNameId != null">
        #{tagNameId,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wake.nlkm.entity.Idiom2Tag">
    update idiom2_tag
    <set>
      <if test="idiomId != null">
        idiom_id = #{idiomId,jdbcType=VARCHAR},
      </if>
      <if test="tagNameId != null">
        tag_name_id = #{tagNameId,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wake.nlkm.entity.Idiom2Tag">
    update idiom2_tag
    set idiom_id = #{idiomId,jdbcType=VARCHAR},
      tag_name_id = #{tagNameId,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>