<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wake.nlkm.mapper.TermsDefinedMapper">
  <resultMap id="BaseResultMap" type="com.wake.nlkm.entity.TermsDefined">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="detail_mean" jdbcType="VARCHAR" property="detailMean" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="example" jdbcType="VARCHAR" property="example" />
    <result column="check_state" jdbcType="TINYINT" property="checkState" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, detail_mean, `type`, example, check_state, createtime, updatetime
  </sql>

  <select id="selectCount" resultType="java.lang.Integer">
    select count(*) from terms_defined
    where `is_delete` = 1
    <if test="name != null and name != ''">
      and `name` = #{name}
    </if>
  </select>

  <select id="selectByBatch" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from terms_defined
    where `is_delete` = 0
    <if test="name != null and name != ''">
      and `name` = #{name}
    </if>
    limit #{offset}, #{limit}
  </select>

  <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from terms_defined
    where `name`=#{name} and `is_delete` = 0
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from terms_defined
    where id = #{id,jdbcType=INTEGER} and `is_delete` = 0
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from terms_defined
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wake.nlkm.entity.TermsDefined" useGeneratedKeys="true"
          keyProperty="id" keyColumn="id">
    insert into terms_defined (id, `name`, detail_mean,
      `type`, example, check_state,
      createtime, updatetime)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{detailMean,jdbcType=VARCHAR},
      #{type,jdbcType=VARCHAR}, #{example,jdbcType=VARCHAR}, #{checkState,jdbcType=TINYINT},
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wake.nlkm.entity.TermsDefined" useGeneratedKeys="true"
          keyColumn="id" keyProperty="id">
    insert into terms_defined
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="detailMean != null">
        detail_mean,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="example != null">
        example,
      </if>
      <if test="checkState != null">
        check_state,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="detailMean != null">
        #{detailMean,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="example != null">
        #{example,jdbcType=VARCHAR},
      </if>
      <if test="checkState != null">
        #{checkState,jdbcType=TINYINT},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wake.nlkm.entity.TermsDefined">
    update terms_defined
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="detailMean != null">
        detail_mean = #{detailMean,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=VARCHAR},
      </if>
      <if test="example != null">
        example = #{example,jdbcType=VARCHAR},
      </if>
      <if test="checkState != null">
        check_state = #{checkState,jdbcType=TINYINT},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wake.nlkm.entity.TermsDefined">
    update terms_defined
    set `name` = #{name,jdbcType=VARCHAR},
      detail_mean = #{detailMean,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=VARCHAR},
      example = #{example,jdbcType=VARCHAR},
      check_state = #{checkState,jdbcType=TINYINT},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateCheckState" parameterType="java.util.Map">
    update terms_defined
    set `check_state` = #{state},
    updatetime=#{updatetime}
    where id = #{id}
  </update>

  <update id="updateDelete" parameterType="java.util.Map">
    update terms_defined
    set `is_delete` = #{state},
    updatetime=#{updatetime}
    where id = #{id}
  </update>

</mapper>